@import "../../../../assets/styles/abstracts";
.header{
    background: rgba(255, 255, 255, 0.58);
    height: rem(100);
    box-shadow: 0 3px 12px lightgray;
    position: sticky;
    top: 0;
    z-index: 25;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    &__left{
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__title{
        h1{
            font-size: rem(42);
            font-family: $ec-bold;
            margin: 0;
        }
        p{
            margin-top: rem(20);
            font-family: $ec-regular;
            font-size: rem(18);
            line-height: rem(25);
        }
    }
}