@import "src/assets/styles/abstracts";

.blog{
  display: flex;
  flex-direction: column;
  gap: rem(10);
  &__list{
    height: rem(250);
    background-color: $white;
    border-radius: rem(15);
    padding: rem(10);
    display: flex;
    gap: rem(10);

  }
  &__img{
    width: rem(370);
    border-radius: rem(15);
    img{
      border-radius: rem(15);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    h4{
      margin-top: 0;
      line-height: rem(25);
      font-family: $ec-bold;
      font-size: rem(18);
    }
  }
  &__category{
    display: flex;
    gap: rem(10);
    span{
      margin: 0;
      font-family: $ec-bold;
      display: inline-block;
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
      li{
        font-family: $ec-regular;
      }
    }
  }
  &__content{

  }
  &__pagination{
    margin: rem(30) 0;
    display: flex;
    align-items: center;
    gap: rem(5);
    list-style-type: none;
    padding-left: 0;
    &__active{
      border-radius: rem(15);
      padding: rem(15) rem(20);
      background-color: $main-color;
      color: $white;
    }
    &__btn{
      cursor: pointer;
      width: 45px;
      height: 45px;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      //padding: rem(15) rem(20);
      &:hover{
        border-radius: rem(15);
        width: 45px;
        height: 45px;
        background-color: $main-color;
        color: $white;
      }
    }
  }
}