@import "src/assets/styles/abstracts";

.child{
  background-color: $modal-bg-color;
  padding-top: rem(45);
  &__inp{
    position: relative;
    input{
      width: 100%;
      padding: rem(12) rem(45) rem(12) rem(10);
      border-radius: rem(10);
      border: 1px solid $tag-border;
      outline: none;
      font-family: $ec-regular;
      font-size: rem(16);
    }
    svg{
      width: rem(23);
      position: absolute;
      right: rem(15);
      top: rem(12);
      color: $form-text-color;
    }
  }
  &__category{
    margin-top: rem(35);
    h1{
      font-size: rem(32);
      font-family: $ec-bold;
    }
    &__active{
      color: $main-color;
    }
    ul{
      padding-left: 0;
      list-style-type: none;
      li{
        margin-bottom: rem(15);
        font-family: $ec-regular;
        font-size: rem(18);
        cursor: pointer;
      }
    }
  }
  &__tags{
    margin-top: rem(35);
    h1{
      font-size: rem(32);
      font-family: $ec-bold;
    }
    &__active{
      border: 1px solid $main-color !important;
      color: $white;
      background-color: $main-color;
    }
    ul{
      padding-left: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
      li{
        padding: rem(5) rem(7);
        border: 1px solid $tag-border;
        border-radius: rem(15);
        margin-bottom: rem(5);
        font-family: $ec-regular;
        font-size: rem(16);
        cursor: pointer;
      }
    }
  }
}