// color
$danger: red;
$main-color: #3874F3;
$main-color-bg: #EDF1FB;
$form-text-color: #78829B;
$modal-bg-color: #F8F9FA;
$footer-top-bg:#F0F1F2;
$footer-bottom-bg:#04102E;
$bg-btn:#2F88F2;
$tag-border:#C7CBD6;
$slider-text: #3874F2;
$white: white;
$black: black;