@import "abstracts";
@import "base";
@import "components";
@import "vendors";

@font-face {
  font-family: 'Euclid-Circular-Bold-Italic';
  src: url('../fonts/Euclid Circular B Bold Italic.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Bold';
  src: url('../fonts/Euclid Circular B Bold.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Italic';
  src: url('../fonts/Euclid Circular B Italic.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Light-Italic';
  src: url('../fonts/Euclid Circular B Light Italic.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Light';
  src: url('../fonts/Euclid Circular B Light.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Medium';
  src: url('../fonts/Euclid Circular B Medium.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Medium-Italic';
  src: url('../fonts/Euclid Circular B Medium Italic.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-Regular';
  src: url('../fonts/Euclid Circular B Regular.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-SemiBold';
  src: url('../fonts/Euclid Circular B SemiBold.ttf');
}

@font-face {
  font-family: 'Euclid-Circular-SemiBold-Italic';
  src: url('../fonts/Euclid Circular B SemiBold Italic.ttf');
}