@import "../../assets/styles/abstracts";

.slider {
  margin-top: rem(55);
  margin-bottom: rem(55);

  &__content {
    height: rem(300);
    position: relative;

    &__first {
      position: absolute;
      left: 15px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.50);
      width: rem(38);
      height: rem(38);
      padding: 5px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__second {
      position: absolute;
      top: -8px;
      right: -20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.50);
      width: rem(51);
      height: rem(51);
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__third {
      position: absolute;
      left: 15px;
      bottom: 16px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.50);
      width: rem(71);
      height: rem(71);
      padding: 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__fourth {
      position: absolute;
      right: -40px;
      bottom: 0;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.50);
      width: rem(51);
      height: rem(51);
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    height: 100%;
    margin-top: rem(65);

    h1 {
      font-family: $ec-regular;
      font-size: rem(24);
    }

    p {
      font-family: $ec-medium;
      font-size: rem(28);
      line-height: 30px;
      color: $slider-text;
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .slider {
    &__content {
      height: rem(170);
      &__first {
        display: none;
      }

      &__second {
        display: none;
      }

      &__third {
        display: none;
      }

      &__fourth {
        display: none;
      }
    }
    &__text {
      margin-top: 0;

      p {
        font-size: rem(20);
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .slider {
    &__content {
      height: rem(170);
      &__first {
        display: none;
      }

      &__second {
        display: none;
      }

      &__third {
        display: none;
      }

      &__fourth {
        display: none;
      }
    }
    &__text {
      margin-top: 0;

      p {
        font-size: rem(20);
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .slider {
    &__content {
      height: rem(170);
      &__first {
        display: none;
      }

      &__second {
        display: none;
      }

      &__third {
        display: none;
      }

      &__fourth {
        display: none;
      }
    }
    &__text {
      margin-top: 0;

      p {
        font-size: rem(20);
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .slider {
    &__content {
      &__inner {
        width: rem(140);
        height: rem(140);
      }

      &__first {

      }

      &__second {

      }

      &__third {
        bottom: rem(0);
      }

      &__fourth {

      }
    }
    &__text{
      p{
        font-size: rem(20);
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .slider {
    &__content {
      &__inner {
        width: rem(150);
        height: rem(150);
      }

      &__first {

      }

      &__second {

      }

      &__third {
        bottom: rem(0);
      }

      &__fourth {

      }
    }

    &__text {
      p {
        font-size: rem(20);
      }
    }
  }
}

@media only screen and (min-width: 1201px) {
  .slider {
    &__content {
      &__first {

      }

      &__second {

      }

      &__third {

      }

      &__fourth {

      }
    }
  }
}
