@import "../../../../../../assets/styles/abstracts";

.mobile {
  padding: rem(15) 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 56;

  &__header {
    display: flex;
    justify-content: space-between;

    &__logo {
      width: rem(250);

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__icon {
      svg {
        cursor: pointer;
        width: rem(20);
        height: 100%;
      }
    }
  }

  &__content {
    margin-top: rem(45);
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__list {
      margin-top: rem(15);
      a{
        text-decoration: none;
        color: black;
        font-size: rem(20);
        font-family: $ec-regular;
      }
    }
  }

  &__activeClass {
    margin-top: rem(15);
    a {
      font-size: rem(20);
      color: $main-color !important;
      font-family: $ec-bold !important;
    }
  }
  &__lang{
    padding-top: rem(45);
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: rem(15);
    li{
      font-size: rem(20);
      font-family: $ec-regular;
    }
    &__activeClass{
      color: $main-color;
    }
  }

  &__socials{
    margin-top: rem(45);
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: rem(20);
    li{
      img{
        width: rem(25);
        height: rem(25);
      }
    }
  }
}